
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFB6C1;
}



.admin-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    width: 400px;
    text-align: center;
    border-radius: 6px;
    
}

.login-container h1 {
    margin-bottom: 10px;
}

.login-container p {
    font-size: 14px;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-container button {
    width: auto;
    padding: 10px;
    border: none;
    background-color: #FFB6C1;
    cursor: pointer;
}



.admin-header {
    background-color: #FFB6C1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-content {
    padding: 40px;
}

.admin-section {
    background-color: white;
    padding: 30px;
    border-radius: 6px;
}

.search {
    padding: 8px;
    margin-bottom: 20px;
    width: 200px;
}



table {
    width: 100%;
    
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
}

button {
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    background-color: #FFB6C1;
}


.product-form {
    max-width: 400px;
}

.product-form label {
    display: block;
    margin-bottom: 15px;
}

.product-form input,
.product-form select,
.product-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.product-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #FFB6C1;
    border: none;
    cursor: pointer;
}
.add-product {
    display: inline-block;
    margin-bottom: 15px;
    padding: 8px 14px;
    background-color: #FFB6C1;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
